html {
    scroll-behavior: smooth;
}

body {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.oswald-heading {
  font-family: "Oswald", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.nav1-items{
  position: absolute;
  right: 0 !important;
  z-index: 2;
  margin-top: 65px;
  clip-path: polygon(4% 0, 100% 0, 100% 100%, 0 100%) !important;
  padding: 8px 30px !important;
  font-size: 14px;
}

/* Ensure Navbar Text Visibility */
.navbar-brand,
.nav-link {
  color: #000; /* Default text color */
}

.nav2 {
  position: sticky !important;
}

.polygon-head{
  clip-path: polygon(0% 0, 88% 0, 100% 100%, 0 100%) !important;
}


.prgrm-card:hover {
  border: 2px solid #A20000;
}
.prgrm-card i {
  opacity: 0 !important;
  transition: opacity 0.3s ease;
}

.prgrm-card:hover i {
  opacity: 1 !important;
}

#placementCarousel {
  pointer-events: none;
} 

/* Show dropdown on hover */
.parent-dropdown:hover {
    display: block;
}

.parent-group:hover .child-dropdown {
    display: block;
}

/* Styling hover effect */
.hover-effect {
    transition: all 0.3s ease-in-out;
}

.hover-effect:hover {
    background-color: #f3f4f6; /* Equivalent to Tailwind's gray-100 */
    border-bottom: 2px solid #4d0000; /* Custom border color */
}


p.about-dist {
  line-height: 30px !important;
  font-size: 17px !important;
}


@media (max-width: 1200px) {
  #menu-toggle {
    display: block;  /* Show hamburger */
  }
  #menu {
    display: none;   /* Hide nav items */
  }
}


@media (max-width: 1700px) {
  .dept-cards {
    padding: 90px !important;
  }
}

@media (max-width: 872px) {
  .dept-cards {
    padding: 40px !important;
  }
}
@media (max-width: 576px) {
  .dept-cards {
    padding: 20px !important;
  }
}

@media (max-width: 380px) {
    .nav1{
        font-size: 10px;
    }
    .nav1-items {
        font-size: 10px;
        padding: 5px 10px !important;
        margin-top: 70px;
    }
    .nav1-items a {
      margin-right: -5px !important;
    }
    .polygon-head{
        font-size: 16px !important;
        width: 75% !important;
    }
}


